<li><%= link_to 'ABOUT US', '/#about' %></li>
<li><%= link_to 'ICO-CROWDSALE', '/#tokensale' %></li>
<li><%= link_to 'LENDING', '/#lending' %></li>
<li><%= link_to 'OPPORTUNITY', '/#opportunity' %></li>
<li><%= link_to 'REFERRAL', '/#referral' %></li>
<li><%= link_to 'ROADMAP', '/#roadmap' %></li>


<% if user_signed_in? %>
  <li><%= link_to 'EDIT ACCOUNT', edit_user_registration_path %></li>
  <% if current_user.try(:admin?) %>
    <li><%= link_to 'USERS', users_path %></li>
  <% end %>
  <li><%= link_to 'SIGN OUT', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'SIGN IN', new_user_session_path %></li>
  <li><%= link_to 'SIGN UP', new_user_registration_path %></li>
<% end %>

